
@{
    ViewData["Title"] = "سون پارک - سامانه آنلاین اتوماسیون پارکینگ";
}

<head>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            background-color: #221c5a;
            background-image: url(../img/parking.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }

        #box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        footer {
            background-color: #222222;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        .profile {
            border-radius: 15px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5 py-sm-0" style="min-height: 100vh;">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="text-center">
                    <h1 class="example display-1 text-white ">سِــــوِن پـــــارک</h1>
                    <div class="my-2 wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">
                        <a asp-controller="Account" asp-action="Login" class="d-inline-block px-4 py-2 rounded bg-white text-dark mx-1">ورود به حساب کاربری</a>
                        <a href="#" class="my-2 d-inline-block px-4 py-2 rounded text-white  bg-ae mx-1">ویژگی های سامانه</a>
                        <a href="#" class="my-2 d-inline-block px-4 py-2 rounded text-white  bg-ae mx-1">تماس با ما</a>
                        <h2 class="text-white opacity-75 my-4 wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">دستیار شخصی پارکینگ شما</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/wow.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.example').liveType({
                typeSpeed: 85,
                pauseEvery: 40,
                pauseTime: 1500,
                pauseOnPunctuation: true,
                punctuationChars: ['.', '.', '?', '!', ':', ';'],
                cursorEffect: true,
                cursorSpeed: 1000,
                cursor: '',
                cursorClass: 'cursor'
            });
        })
        new WOW().init();
    </script>
</body>
