@model ErrorViewModel
@{
    ViewData["Title"] = "خطا!";
}

<style>
    p, h1,h2 {
        text-align:center;
    }
</style>

<div class="d-flex align-items-center justify-content-center" style="height:400px">
    <h2 class="text-danger">در هنگام پردازش درخواست شما خطایی رخ داد.</h2>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>کد خطا:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
