@using ParkingControlWeb.ViewModels;

@model AddRecordViewModel

@{
    ViewData["Title"] = "ورود و خروج ها";
}

<html>
    <head>

        <style>

            .form-floating > label {
                right: 0;
                left: auto;
            }

            .dropdown-toggle::after {
                display: none;
            }
        </style>
    </head>
    
    <body>
        <div class="container-fluid">

            <div class="mt-5">


                <div class="row">

                    <div class="col-6">
                        <h3>رکورد های جاری</h3>
                    </div>
                </div>

                <div class="overflow-scroll" style="max-height:60vh;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>شماره همراه</th>
                                <th>شماره پلاک</th>
                                <th>زمان ورود</th>
                                <th>مدت زمان گذشته</th>
                                <th>هزینه تا به الان</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 40; i++)
                            {
                            <tr class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" >
                                    <td>09939827916</td>
                                    <td>23521-ب</td>
                                    <td>1402/12/4</td>
                                    <td>2 ساعت</td>
                                    <td>200.000 تومان</td>
                                    <td>
                                        @if (false)
                                        {
                                            <a class="btn btn-warning">توقف</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success">ادامه دادن</a>
                                            <a class="btn btn-info" onclick="expandView(@i)">شارژ کردن حساب</a>

                                            if (false)
                                            {
                                                <span tabindex="0" data-toggle="tooltip" data-placement="top" title="موجودی کاربر کافی نمی‌باشد">
                                                    <a class="btn btn-danger disabled">خروج</a>
                                                </span>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger">خروج</a>
                                            }
                                        }


                                    </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>

                <hr />

            </div>

            <div class="mt-5">
                <form asp-action="AddRecord">

                    <div class="row">
                        <div class="col-3">
                            <div class="form-floating mb-3 justify-content-star3t form-group">
                                <input asp-for="PhoneNumber" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                                <label asp-for="PhoneNumber" for="floatingInput" class="ms-0"></label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-floating mb-3 justify-content-star3t form-group">
                                <input asp-for="PlateNumber" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                                <label asp-for="PlateNumber" for="floatingInput" class="ms-0"></label>
                                <span asp-validation-for="PlateNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-success form-control" type="submit">ثبت رکورد</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </body>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</html>