@using ParkingControlWeb.ViewModels.Account;

@model RegisterViewModel

@{
    ViewData["Title"] = "ساخت حساب کاربری";
}

<html>
<head>
    <style>

        .form-floating > label {
        right: 0;
        left: auto;
        }

        .dropdown-toggle::after {
            display: none;
        }
    </style>

    <script language="javascript" src="~/js/city.js"></script>

</head>

<body>

    <div class="container-fluid mt-5">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                
                @{
                    string text = "";
                }
                @if (User.IsInRole("GlobalAdmin"))
                {
                    text = "صاحب پارکینگ";
                }
                else
                {
                    text = "کارشناس";
                }

                <h1 class="fw-bold mb-0 fs-2">
                    ساخت حساب کاربری (@text)
                </h1>
                </div>
                <hr/>

                <div class="modal-body p-5 pt-0">

                    <form asp-action="Register">

                        <div class="row">

                        @{
                            int colSize = User.IsInRole("GlobalAdmin") ? 4 : 6;
                        }
                            <div class="col-@colSize">

                                <h3 class="text-dark mb-3">مشخصات حساب</h3>
                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="UserName" type="text" maxlength="11" class="form-control rounded-3" id="floatingInput" placeholder="09101234567">
                                    <label asp-for="UserName" for="floatingInput" class="ms-0"></label>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                                    <label asp-for="Password" for="floatingPassword"></label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="RepeatPassword" type="password" class="form-control rounded-3" id="floatingPasswordRep" placeholder="Password">
                                    <label asp-for="RepeatPassword" for="floatingPasswordRep"></label>
                                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                </div>

                                @if (User.IsInRole("GlobalAdmin"))
                                {
                                    <label asp-for="RenewalIndex"></label>
                                <select asp-for="RenewalIndex" class="form-control" id="period">
                                        <option value="0">یک ماهه</option>
                                        <option value="1">سه ماهه</option>
                                        <option value="2">شش ماهه</option>
                                        <option value="3">یک ساله</option>
                                    </select>
                                }

                            </div>

                            <div class="col-@colSize">

                                <h3 class="text-dark mb-3">مشخصات شخصی</h3>
                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="FullName" type="text" class="form-control rounded-3" id="floatingInput5" placeholder="نام و نام خانوادگی">
                                <label asp-for="FullName" for="floatingInput5" class="ms-0"></label>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                
                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="NationalCode" type="text" class="form-control rounded-3" id="floatingInput7" placeholder="کد ملی">
                                <label asp-for="NationalCode" for="floatingInput7" class="ms-0"></label>
                                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="LandlineTel" type="text" class="form-control rounded-3" id="floatingInput8" placeholder="تلفن ثابت">
                                    <label asp-for="LandlineTel" for="floatingInput8" class="ms-0"></label>
                                    <span asp-validation-for="LandlineTel" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="Address" type="text" class="form-control rounded-3" id="floatingInput9" placeholder="آدرس">
                                <label asp-for="Address" for="floatingInput9" class="ms-0"></label>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                            </div>

                        @if (User.IsInRole("GlobalAdmin"))
                        {
                            <div class="col-@colSize">

                                <h3 class="text-dark mb-3">مشخصات پارکینگ</h3>
                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="ParkingName" type="text" class="form-control rounded-3" id="floatingInput10" placeholder="نام پارکینگ">
                                    <label asp-for="ParkingName" for="floatingInput10" class="ms-0"></label>
                                    <span asp-validation-for="ParkingName" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-4">

                                    <label asp-for="State"></label>
                                    <select class="province form-select justify-content-star3t" asp-for="State">
                                    </select>
                                    <span asp-validation-for="State" class="text-danger"></span>

                                    <label asp-for="City" style="display:block;"></label>
                                    <select class="city form-select" asp-for="City"></select>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="ParkingAddress" type="text" class="form-control rounded-3" id="floatingInput10" placeholder="آدرس">
                                    <label asp-for="ParkingAddress" for="floatingInput10" class="ms-0"></label>
                                    <span asp-validation-for="ParkingAddress" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="EntranceRate" type="number" class="form-control rounded-3" id="floatingInput11" placeholder="نرخ ورودی">
                                    <label asp-for="EntranceRate" for="floatingInput11" class="ms-0"></label>
                                    <span asp-validation-for="EntranceRate" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                <input asp-for="HourlyRate" type="number" class="form-control rounded-3" id="floatingInput12" placeholder="نرخ ساعتی">
                                    <label asp-for="HourlyRate" for="floatingInput12" class="ms-0"></label>
                                    <span asp-validation-for="HourlyRate" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="DailyRate" type="number" class="form-control rounded-3" id="floatingInput13" placeholder="نرخ روزانه">
                                    <label asp-for="DailyRate" for="floatingInput13" class="ms-0"></label>
                                    <span asp-validation-for="DailyRate" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3 justify-content-star3t form-group">
                                    <input asp-for="Capacity" type="number" class="form-control rounded-3" id="floatingInput14" placeholder="ظرفیت پارکینگ">
                                    <label asp-for="Capacity" for="floatingInput14" class="ms-0"></label>
                                    <span asp-validation-for="Capacity" class="text-danger"></span>
                                </div>

                            </div>
                        }


                        <div class="row">

                            <div class="col-6">
                                <button class="mb-2 btn btn-lg rounded-3 btn-primary form-control" type="submit">ثبت نام</button>
                            </div>

                            <div class="col-6">
                                <a asp-asp-controller="Dashboard" asp-action="UsersList" class="mb-2 btn btn-lg rounded-3 btn-secondary form-control">بازگشت به داشبورد</a>
                            </div>
                        </div>
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>


    </body>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</html>

